<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <button class="button button-large button-block button-positive " ng-click="scanBarcode()">
      Barcode Scanner
    </button>

    <ion-list ng-if="code">
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
        <img ng-src="{{code.picture}}">
        <h2>{{code.id}}</h2>
        <p>{{code.balance}}</p>


        <ion-option-button class="button-assertive">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

    <div class="form-errors" ng-if="scannerClick && !code"> Your Product do not exist! </div>

  </ion-content>
</ion-view>
